"{{ storage_path }}/Miscellaneous"  {{ nfs_exports_rw }}(rw,insecure,no_subtree_check)  {{ nfs_exports_ro }}(ro,insecure,no_subtree_check)
"{{ storage_path }}/Movies"         {{ nfs_exports_rw }}(rw,insecure,no_subtree_check)  {{ nfs_exports_ro }}(ro,insecure,no_subtree_check)
"{{ storage_path }}/Music"          {{ nfs_exports_rw }}(rw,insecure,no_subtree_check)  {{ nfs_exports_ro }}(ro,insecure,no_subtree_check)
"{{ storage_path }}/TV Shows"       {{ nfs_exports_rw }}(rw,insecure,no_subtree_check)  {{ nfs_exports_ro }}(ro,insecure,no_subtree_check)
"{{ kodi_userdata_path }}"   {{ nfs_exports_ro }}(rw,insecure,no_subtree_check)
