<advancedsettings>
  <videodatabase>
    <type>mysql</type>
    <host>{{ inventory_hostname }}</host>
    <port>{{ mariadb_host_port }}</port>
    <user>kodi</user>
    <pass>kodi</pass>
  </videodatabase> 
  <musicdatabase>
    <type>mysql</type>
    <host>{{ inventory_hostname }}</host>
    <port>{{ mariadb_host_port }}</port>
    <user>kodi</user>
    <pass>kodi</pass>
  </musicdatabase>
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
    <importresumepoint>true</importresumepoint>
  </videolibrary>
</advancedsettings>
