[Unit]
Description=cAdvisor (container)
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=cadvisor \
                              --publish={{ cadvisor_host_port }}:8080 \
                              --volume=/:/rootfs:ro \
                              --volume=/var/run:/var/run:ro \
                              --volume=/sys:/sys:ro \
                              --volume=/var/lib/docker/:/var/lib/docker:ro \
                              --volume=/dev/disk/:/dev/disk:ro \
                              --volume=/etc/machine-id:/etc/machine-id:ro \
                              --privileged \
                              --device=/dev/kmsg \
                              {{ cadvisor_image_name }} \
                              -docker_only=true \
                              -housekeeping_interval=30s \
                              -disable_metrics=tcp,udp,advtcp,cpu_topology,resctrl,cpuset,memory_numa,sched,process,hugetlb,referenced_memory,disk,diskIO

ExecStop=/usr/bin/docker stop cadvisor

[Install]
WantedBy=multi-user.target
