"{{ storage_path }}/Miscellaneous"  {{ inventory_ipv4_address }}(rw,insecure,no_subtree_check)  {{ local_area_network_cidr }}(ro,insecure,no_subtree_check)
"{{ storage_path }}/Movies"         {{ inventory_ipv4_address }}(rw,insecure,no_subtree_check)  {{ local_area_network_cidr }}(ro,insecure,no_subtree_check)
"{{ storage_path }}/Music"          {{ inventory_ipv4_address }}(rw,insecure,no_subtree_check)  {{ local_area_network_cidr }}(ro,insecure,no_subtree_check)
"{{ storage_path }}/TV Shows"       {{ inventory_ipv4_address }}(rw,insecure,no_subtree_check)  {{ local_area_network_cidr }}(ro,insecure,no_subtree_check)
