[Unit]
Description=Lidarr (container)
Requires=nzbget.service
After=nzbget.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=lidarr \
                              -p {{ lidarr_host_port }}:8686 \
                              -v {{ lidarr_config_dir }}:/config \
                              -v {{ storage_path }}:{{ storage_path }} \
                              -e PUID={{ ansible_user_uid }} \
                              -e PGID={{ ansible_user_gid }} \
                              -e TZ={{ tz_name }} \
                              linuxserver/lidarr

ExecStop=/usr/bin/docker stop lidarr

[Install]
WantedBy=multi-user.target
