[Unit]
Description=MariaDB (container)
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=mariadb \
                              -p {{ mariadb_host_port }}:3306 \
                              -v {{ mariadb_config_dir }}:/config \
                              -e PUID={{ osmc_user_uid }} \
                              -e PGID={{ osmc_user_gid }} \
                              -e TZ={{ tz_name }} \
                              ghcr.io/linuxserver/mariadb

ExecStop=/usr/bin/docker stop mariadb

[Install]
WantedBy=multi-user.target
