[Unit]
Description=Pi-hole (container)
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=pihole \
                              -p {{ pihole_host_dns_port }}:53/tcp \
                              -p {{ pihole_host_dns_port }}:53/udp \
                              -p {{ pihole_host_http_port }}:80 \
                              -p {{ pihole_host_https_port }}:443 \
                              -v /etc/pihole:/etc/pihole \
                              -v /etc/dnsmasq.d:/etc/dnsmasq.d \
                              --dns=127.0.0.1 --dns=1.1.1.1 \
                              -e TZ={{ tz_name }} \
                              pihole/pihole

ExecStop=/usr/bin/docker stop pihole

[Install]
WantedBy=multi-user.target
